!!! 5
%html(lang="en-US")
  %head
    %title All the Faves | Auto-generate Your Favicons
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = javascript_include_tag "all_the_faves"
    %link(rel="base_icon" href="images/icon.png")
    :javascript
      document.addEventListener("DOMContentLoaded", function() {
        AllTheFaves.render();
        AllTheFaves.base_icon.addEventListener("load", function() {
          var icons = document.querySelectorAll("[rel=apple-touch-icon-precomposed]");
          Array.prototype.forEach.call(icons, function(icon) {
            var img = document.createElement("img");
            img.src = icon.href;
            document.querySelector("main").appendChild(img);
          });
        });
      });
  %body
    %main
      %h1 Your icons:
      = yield
